javascript:
  window.addEventListener("resize", e => {
      Packs.application.deBouncer();
  });
  window.addEventListener('mousemove', e => {
      mouseX = parseInt(e.clientX - $('#canvas').offset().left);
      mouseY = parseInt(e.clientY - $('#canvas').offset().top);

      // Put your mousemove stuff here
      var hit = false;
      for (var i = 0; i < particles.length; i++) {
          var particle = particles[i];
          var dx = mouseX - particle.x;
          var dy = mouseY - particle.y;
          if (dx * dx + dy * dy < Math.pow(particle.radius,2)+100) {
              particle.speed = 0
              tipCanvas.style.left = Packs.application.tooltipMargin("x", particle.x) + "px";
              tipCanvas.style.top = Packs.application.tooltipMargin("y", particle.y) + "px";
              tipCtx.clearRect(0, 0, tipCanvas.width, tipCanvas.height);
              tipCtx.fillText(particle.name + ', ' + particle.race + ', ' + particle.country, 5, 15);
              $("body").css("cursor", "pointer");
              hit = true;
          }
      }
      if (!hit) {
          $("body").css("cursor", "default");
          tipCanvas.style.left = "-2000px";
      }
  });