javascript:
  let particles   = [];
  let tipCanvas   = document.getElementById("tip");
  let tipCtx      = tipCanvas.getContext("2d");
  let rgb         = opts.lineColor.match(/\d+/g);
  let delay       = 200;
  let tid;