<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  <%= link_to 'PetMemorial', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100">
        <li class="nav-item">
          <a id="popupAdd" class="nav-link" style="cursor: pointer;"><i class="bi bi-plus-circle"></i> Ajouter un animal</a>
        </li>
        <li class="nav-item">
          <a id="popupInfo" class="nav-link" style="cursor: pointer;"><i class="bi bi-question-circle"></i> À propos</a>
        </li>
        <li class="nav-item">
          <a href="http://paypal.me/RichardPeter" target="_blank" class="nav-link"><i class="bi bi-cash-stack"></i> Faire un don</a>
        </li>
      </ul>
    </div>
</nav>
