<div id="buttons">
  <a id="popupAdd" class="waves-effect waves-light btn-small btn-floating"><i class="material-icons">add</i></a>
  <a id="popupInfo" class="waves-effect waves-light btn-small btn-floating"><i class="material-icons">info_outline</i></a>
  <a href="http://paypal.me/RichardPeter" target="_blank" class="waves-effect waves-light btn-small btn-floating"><i class="material-icons">attach_money</i></a>
</div>