= javascript_pack_tag 'application'

script(src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"
integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ=="
crossorigin="anonymous")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous")

= render partial: 'home/js/popup/init'
= render partial: 'home/js/popup/events'

= render partial: 'home/js/canvas/const_variables'
= render partial: 'home/js/canvas/variables'
= render partial: 'home/js/canvas/functions'
= render partial: 'home/js/canvas/events'
= render partial: 'home/js/canvas/init'

