<div id="dialog-message">
  <div>
    <span id="popup-pet-race" class="popup-pet-info"></span>
    <span id="popup-pet-country" class="flag-icon"></span>
  </div>
  <p class="popup-pet-info">Né(e) le <span id="popup-pet-birth"></span></p>
  <p class="popup-pet-info">Monté(e) au ciel le <span id="popup-pet-death"></span></p>
  <img id="popup-pet-photo" src="" class="medium-zoom-image">
</div>