// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: #222;
  margin: 0rem;
  min-height: 100vh;
  font-family: Futura, sans-serif;
}

#canvas, #text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#text {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 8vmin;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}

#text h1 {
  opacity: 0.9;
}

#tip {
    background-color:white;
    border:1px solid blue;
    position:absolute;
    left:-200px;
    top:100px;
}

#buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

label, input {
  display:block;
}

input.text {
  margin-bottom:12px; width:95%; padding: .4em;
}

fieldset {
  padding:0; border:0; margin-top:25px;
}

h1 {
  font-size: 1.2em; margin: .6em 0;
}

div#users-contain {
  width: 350px; margin: 20px 0;
}

div#users-contain table {
  margin: 1em 0; border-collapse: collapse; width: 100%;
}

div#users-contain table td, div#users-contain table th {
  border: 1px solid #eee; padding: .6em 10px; text-align: left;
}

.ui-dialog .ui-state-error {
  padding: .3em;
}

.validateTips {
  border: 1px solid transparent; padding: 0.3em;
}

.popup-pet-info {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 12px;
}

[id^="error-"] {
  font-size: 10px;
  margin-top: 3px;
  color: red;
}

#popup-pet-photo {
  width: 100%;
}

img {
  z-index: 999;
}

ul.ui-menu { max-height: 420px !important; }

#dialog-info * {
  text-align: justify;
  font-size: 14px;
}

select {
  width: 100%
}

.loader {
  position : fixed;
  z-index: 9999;
  background : url("/loading.gif") 50% 50% no-repeat;
  background-size: cover;
  top : 0px;
  left : 0px;
  height : 100%;
  width : 100%;
  cursor : wait;
}
