doctype html
html lang=I18n.locale
  head
    = render partial: 'layouts/seo'
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag '/icon-no-bg.png'
    = javascript_pack_tag 'style'
    = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.min.css'

  body
    h1 class="no-display" PetMemorial 🐶🐱
    = yield
    = render partial: 'flash' unless params['tv'].present?

