doctype html
html lang=I18n.locale
  head
    = render partial: 'layouts/seo'
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag '/pawprint.png'
    = javascript_pack_tag 'style'

  body
    h1 class="no-display" PetMemorial 🐶🐱
    = yield
    = render partial: 'flash'

